<div class="ph3 mv6 pv3">
  <div class="dt w-100 w-80-l mw8 center">
    <section class="mb5 pb5 bb b--light-gray">
      <div class="f1 mb4 lh-title">Introduction</div>
      <p class="lh-copy f4 dark-gray">
        In order to secure the events that your target app emits this app verifies that the currently logged in user has access to this app using Heroku authentication.
        Configuring authentication is a simple two step process and after successfully following these instructions, you should no longer see this page.
      </p>
    </section>
    <section class="mb4">
      <div class="f3 mb4 lh-title">1. Create an OAuth Client</div>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <div>heroku clients:create <%= @oauth_name %> <%= @oauth_url %></div>
      </div>
    </section>
    <div class="f5 mv4 b dark-gray">Your output should look something like this:</div>
    <section class="mb6 br1">
      <div class="lh-copy w-100 bg-black code pa2 pl4 white word-wrap br1">
        <div>Creating <%= @oauth_name %>... done</div>
        <div>HEROKU_OAUTH_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</div>
        <div>HEROKU_OAUTH_SECRET=YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY</div>
      </div>
    </section>
    <section class="mb4">
      <div class="f3 mb4 lh-title">2. Add OAuth Client to Consumer App</div>
      <% if Rails.env.development? %>
        <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
          <div>echo "HEROKU_OAUTH_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" >> .env</div>
        </div>
        <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
          <div>echo "HEROKU_OAUTH_SECRET=YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY" >> .env</div>
        </div>
        <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
          <div>echo "AUTHORIZATION_APP=app-to-check-authorization-against" >> .env</div>
        </div>
        <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
          <div>dotenv rails s</div>
        </div>
      </section>
        <% else %>
        <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
          <div>heroku config:set -a <%= @app %> HEROKU_OAUTH_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX HEROKU_OAUTH_SECRET=YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY</div>
        </div>
      </section>
      <div class="f5 mv4 b dark-gray">Your output should look something like this:</div>
      <section class="mb6 br1">
        <div class="lh-copy w-100 bg-black code pa2 pl4 white word-wrap br1">
          <div>Setting HEROKU_OAUTH_ID, HEROKU_OAUTH_SECRET and restarting ⬢ <%= @app %>... done, v3</div>
          <div>▸    Warning: The "HEROKU_" namespace is protected and shouldn't be used.</div>
          <div>HEROKU_OAUTH_ID:     XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</div>
          <div>HEROKU_OAUTH_SECRET: YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY</div>
        </div>
      </section>
      <section class="mb4">
        <div class="f3 mb4 lh-title">Log Into the App</div>
        <div class="lh-copy dark-gray">
          You have now configured oAuth authorization for this app.  Go to the <a href="/" class="link purple">webhooks events</a> page to log in.
        </div>
      </section>
        <% end %>
  </div>
</div>
