<!DOCTYPE html>
<html>
  <head>
    <title>Webhooks Consumer Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.herokucdn.com/purple3/latest/purple3.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="container flex flex-column">
      <div class="header pv2 ph3 bg-gradient-secondary bb b--black-10 w-100 shadow-outer-1 flex items-center">
        <div class="f3-ns b white mr4 flex-auto">Webhooks Consumer</div>
        <ul class="white list pa0 ma0">
          <% if session[:email] %>
            <li class="link ml3 dib v-mid b"><a href="/logout" class="link white">Logout</a></li>
            <%= session[:email] %>
          <% else %>
            <li class="link ml3 dib v-mid b"><a href="/login" class="link white">Login</a></li>
          <% end %>
          <li class="link ml3 dib v-mid">
            <%= image_tag(@gravatar, class: "br-100 w3 h3") %>
          </li>
        </ul>
      </div>

      <script type="text/javascript">
        document.title = '(4) Webhooks Consumer';
      </script>

      <div class="w-100 mb3 flex f4 dark-gray">
        <a href="/" class="link gray pa3 bb b--light-silver hover-b--gray purple b--purple">Webhook Events</a>
        <a href="/setup" class="link gray pa3 bb b--light-silver hover-b--gray">Setup</a>

        <div class="flex-auto bb b--light-silver pa3 tr f5 items-center">
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
