<!DOCTYPE html>
<html>
  <head>
    <title>Webhooks Consumer Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//www.herokucdn.com/purple/1.1.9/purple.min.css">
    <script src="//www.herokucdn.com/purple/1.1.9/purple.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
