<!DOCTYPE html>
<html>
  <head>
    <title>Webhooks Viewer Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.herokucdn.com/purple3/latest/purple3.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= action_cable_meta_tag %>

    <%= javascript_include_tag 'tabs', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <div class="container pa0 ma0">
      <div class="header bg-gradient-secondary bb b--black-10 w-100 shadow-outer-1 flex items-center ph3 pv1 ">
        <div class="f3-ns b white mr4 lh-title">
          <img src="hooked-logo.svg" class='h2 mr2 v-mid' alt="">Webhooks Viewer</div>
        <div class="spacer flex-auto"></div>
        <ul class="white list pa0 ma0">
          <% if session[:email] %>
            <li class="link ml3 dib pv3 b"><a href="/logout" class="link white">Logout</a></li>
            <%= session[:email] %>
          <% else %>
            <li class="link ml3 dib pv3 b"><a href="/login" class="link white">Login</a></li>
          <% end %>
          <% if session[:email] %>
            <li class="link ml3 dib v-mid"><%= image_tag(@gravatar, class: "br-100 w3 h3") %></li>
          <% end %>
        </ul>
      </div>

      <div class="w-100 mb3 flex f4 bg-light-gray dark-gray" id="tabs">
        <a href="/" class="link gray pa3 bb b--light-silver hover-b--gray">Webhook Events</a>
        <a href="/setup" class="link gray pa3 bb b--light-silver hover-b--gray">Setup Instructions</a>

        <div class="flex-auto bb b--light-silver pa3 tr f5 items-center">
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
